.root {
	-fx-spacing: 30;
	-fx-font-family: helvetica;
	-fx-padding: 100;
	-fx-margin: auto;
	-fx-font-size: 30;
}

#title{
	-fx-font-size: 30;
	-fx-font-weight: bold;
	-fx-padding: 0 0 50 0;
	-fx-spacing: 0;
}

#sandbox-button, #adventure-button {
    -fx-padding: 15;
    -fx-background-insets: 5,0,5,0;
    -fx-background-radius: 0;
    -fx-background-color: #343434;
    -fx-font-size: 16;
    -fx-text-fill: #EEE;
}

#sandbox-button:hover, #adventure-button:hover{
	-fx-background-color: #222222;
}

#sandbox-button:active, #adventure-button:active {
	-fx-background-color: #f38900;
}