.root{
	
}

#gametabs{
	-fx-border-style: solid;
	-fx-border-width: 3px;
	-fx-border-color: #dddddd;
}

#tabheader{
	-fx-font-size: .61em;
}

#protips{
	-fx-border-right: 5px solid #DDDDDD;
}

#upWall{
	-fx-background-color: white;
	-fx-border-style: solid;
	-fx-border-width: 5 0 0 0;
	-fx-border-color: #222;
}

#rightWall{
	-fx-background-color: white;
	-fx-border-style: solid;
	-fx-border-width: 0 5 0 0;
	-fx-border-color: #222;
}

#downWall{
	-fx-background-color: white;
	-fx-border-style: solid;
	-fx-border-width: 0 0 5 0;
	-fx-border-color: #222;
}

#leftWall{
	-fx-background-color: white;
	-fx-border-style: solid;
	-fx-border-width: 0 0 0 5;
	-fx-border-color: #222;
}

#upWall:selected, #rightWall:selected, #downWall:selected, #leftWall:selected{
	-fx-background-color: #aaa;
}

#WorldButton{
	-fx-background-color: white;
	-fx-border-radius: 0;
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-border-color: #dddddd;
}

#WorldButton:hover{
	-fx-background-color: #ddd;
}

#WorldButton:selected{
	-fx-background-color: #aaa;
}